<form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
  <div class="form-container">
    <label>Количество плиток
      <input id="input1" type="number" formControlName="size" step="2"></label>
    <label>Минимальное число
      <input id="input2" type="number" formControlName="minValue"></label>
    <label>Максимальное число
      <input id="input3" type="number" formControlName="maxValue"></label>
    <button id="button" type="submit">Начать игру</button>
  </div>

</form>
<div [ngClass]="{blocker: isBlocked}"></div>
<div class="grid-container">
  <app-card
    class="grid-item"
    *ngFor="let card of (cards$ | async);
    let i = index; trackBy: trackByFn"
    [num]="card.num"
    [isTheSame]="card.isTheSame"
    [isOpened]="card.isOpened"
    (click)="openCard(card.num, i)"

  ></app-card>
</div>
